<a href="https://colab.research.google.com/github/kiran198910/Python_pratice/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
first_number = int(input("Enter First Number: "))
second_number = int(input("Enter Second Number: "))
product = first_number * second_number
if product >1000:
  sum = first_number + second_number 
  print("Sum = ",sum)
else:
  print("Product = ",product)

Enter First Number100
Enter Second Number200
Sum =  300

In [0]:
def calculate(num1, num2):
  product = num1 * num2
  if product > 1000:
    sum = num1 + num2
    return sum
  else:
    return product

num1 = int(input("Enter First Number "))
num2 = int(input("Enter Second Number "))
result = calculate(num1, num2)
print ("Result = ",result )

Enter First Number100
Enter Second Number200
Result =  300

In [0]:
## Calculate Average of Number 
def calculate_avg(number_list):
  count = 0
  for num in number_list:
    count += num
  average = count/len(number_list)
  return average

number = list(map(int, input("Enter a multiple value: ").split(','))) 
print (number)
result = calculate_avg(number)
print("Result = ", result)

Enter a multiple value: 10,20,30,40
[10, 20, 30, 40]
Result =  25.0

In [0]:
## Print Addition of current number and previous number

def number_addition(num):
  ## Accept num - range of ietrate values
  previous_number = 0
  for i in range(num):
    addition = previous_number + i
    previous_number = i
    print (addition)

num = int(input("Enter Number"))
number_addition(num)

Enter Number10
0
1
3
5
7
9
11
13
15
17

In [0]:
string = input("Enter string: ")
n = input("Enter char to remove: ")
l = []
for i in string:
  # print(i)
  l.append(i)
  if n in l:
    l.remove(n)
print (''.join(l))

Enter string: rahultate
Enter char to remove: a
rhultte

In [0]:
#Reverse Each String without using inbult functions
sent = "xyz is working at Casoft"
new_sen =""
start_index=0
end_index=0
for i in range(0, len(sent)):
  if sent[i] == " ":
    end_index=start_index
    start_index=i
    if end_index == 0:
      new_sen=new_sen+sent[start_index::-1]
    else:
      new_sen=new_sen+sent[start_index:end_index:-1] 
  elif i == len(sent)-1:
    new_sen=new_sen+" "+sent[len(sent):start_index:-1] 

print(new_sen)

 zyx si gnikrow ta tfosaC

In [0]:
## Amstrong Number

def calculate_amstrong_number(num):
  sum = 0
  n = len(num)
  for i in num:
    sum += int(i) ** n
  return sum

num = input("Enter Number")
result = calculate_amstrong_number(num)

if result == int(num):
  print("Number is Amstrong")
else:
  print ('Number is not Amstrong')

Enter Number152
Number is not Amstrong

In [0]:
s1 = input("Enter string ")
s1 = s1.split(',')
print(s1)
count = 0

for data in range(0, len(s1)):
    for j in range(0, len(s1) - data - 1):
        if s1[j] > s1[j + 1]:
            s1[j], s1[j + 1] = s1[j + 1], s1[j]
print(s1)

Enter string bag, apple, xyz
['bag', ' apple', ' xyz']
[' apple', ' xyz', 'bag']